body{
    background-color: red;
}
.box{
    background-color: red;
    color:white;
    font-size: 72px;
    text-align: center;
    display: none;
}
@media (max-width:300px){
    #box1 {display: block;
    background-color: cyan;}
}
@media (max-width:500px) and (min-width:300px){
    #box2 {display: block;
    background-color: blueviolet;}
}
@media (max-width:800px) and (min-width:500px){
    #box3 {display: block;
    background-color: yellow;
color: black;}
}
@media (min-width:800px) {
    #box4 {display: block;
    background-color:green;}
}
