.container{
    display: flex;
    justify-content: space-evenly;
}
/* div{
    width: 50%;
} */
h2 , h3{
    text-transform: capitalize;
}
.disc{
    list-style:disc ;
}
.square{
    list-style:square;
}
.circle{
    list-style: circle;
}
.none{
    list-style: none;
}
.decimal{
    list-style: decimal;
}
.leading{
    list-style: decimal-leading-zero
}
.ascii{
    list-style: lower-alpha;
}
.roman{
    list-style: lower-roman;
}