.container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}
.child{
   
    background-color: red;
    margin: 10px;
    width: 20%;
    text-align: center;
}
.img{
    width: 50px;
}
.orange{
    background-color: orange !important;
}