<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
   <!-- nav and logo -->
        <div class="logo"> <div class="logo1"><h1>logo</h1></div>
       <div class="nav">
        <table>
            <tr>
                <th>Home</th>
                <th>contact</th>
                <th>store</th>
                <th>docs</th>
                <th>about</th>
            </tr>
        </table></div>
        </div>
        <!-- header -->
        <div class="logo space"> <div class="head"><h1>Header/Banner</h1></div>
        
         </div>
       <!-- intro -->
        <!-- header -->
        <div class="logo space"> <div class="head"><h1>Intro area</h1></div>
        
         </div>
         <!-- boxex -->
         <div class="grid">
        <div class="box1"><h1>box1</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo harum laboriosam est! Cupiditate ipsa harum eligendi consequatur quae, repudiandae in atque debitis voluptas, dolorem voluptatem ullam necessitatibus corrupti expedita aliquam. Quia placeat praesentium sequi, sint consectetur deleniti expedita pariatur nam, modi perspiciatis nisi ex ut velit rerum. Magnam corporis dicta sapiente corrupti quae deleniti quibusdam molestiae cum, nemo molestias at in. Magni temporibus modi dolores perferendis tempore consequatur totam.
       
        </div>


        <div class="box2"><h1>box2</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo harum laboriosam est! Cupiditate ipsa harum eligendi consequatur quae, repudiandae in atque debitis voluptas, dolorem voluptatem ullam necessitatibus corrupti expedita aliquam. Quia placeat praesentium sequi, sint consectetur deleniti expedita pariatur nam, modi perspiciatis nisi ex ut velit rerum. Magnam corporis dicta sapiente corrupti quae deleniti quibusdam molestiae cum, nemo molestias at in. Magni temporibus modi dolores perferendis tempore consequatur totam.
        
        </div>
        <div class="box3"><h1>box3</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo harum laboriosam est! Cupiditate ipsa harum eligendi consequatur quae, repudiandae in atque debitis voluptas, dolorem voluptatem ullam necessitatibus corrupti expedita aliquam. Quia placeat praesentium sequi, sint consectetur deleniti expedita pariatur nam, modi perspiciatis nisi ex ut velit rerum. Magnam corporis dicta sapiente corrupti quae deleniti quibusdam molestiae cum, nemo molestias at in. Magni temporibus modi dolores perferendis tempore consequatur totam.
        </div>
    <footer><h1>footer</h1></footer>

         </div>
       
       <!-- footer -->

   
</body>
</html>