*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}
#showcase{
    background-image: url(landing\ page.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#shoecase h1{
    font-weight: 50px;
    line-height: 1.2px;
}
#shoecase h1{
    font-weight: 20px
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#showcase .button:hover{
    color: #fff;
    background-color: #926239;
}
#secton-a{
    padding: 20px;
    background-color: #926239;
    color: #fff;
    text-align: center;
}
#secton-b{
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}
#secton-c{
    display: flex;
    
}
#secton-c .box1 , .box3{
    background: #926239;
    color: #fff;
}
#secton-c .box2{
    background: #f9f9f9;
    
 
}
#secton-c div{
    padding: 20px;
}